@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/GraphikMedium.otf');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../assets/fonts/GraphikRegular.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../assets/fonts/Roboto-Italic.ttf');
} 

html{
    scroll-behavior: smooth;
}

a{
    color: #fff;
}

a:visited{
    /* color: #fff; */
}

*{
    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none;
}



.webgl{
    max-width: 900px;
    max-height: 900px;
    margin-left: -100px;
    overflow-x: hidden;;
    background-color: transparent !important;
    border-radius: 50%;
}

.header{
    background-color: #EAEAEA;
    padding-top: auto;
    padding-bottom: auto;
}

.container{
    max-width: 995px;
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 75px;
    /* overflow: hidden; */
    /* text-align: center; */
}

.section{
    overflow: hidden;
}

.menu-overlay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 47px;
    max-width: 100%;
}

.navbar{
    margin-top: 10px;
}

.burger-button{
    display: none;
}

.navbar-item{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #122438;
}

.navbar-item:not(:last-child){
    margin-right: 57px;
}

.video-button{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-image: url('../static/textures/start-video-button.png');
    transition: transform 0.25s ease-in-out;
}

.video-button:hover{
    transform: scale(1.1);
    transform: translateY(-7px);
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #4670DE;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/* ---------------------------------- */
/* Hero section */
.hero-section{
    background-color: #EAEAEA;
}

.hero-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 133px;
    margin-top: -100px;
    align-items: center;
}

.information-div{
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    padding-left: 12px;
    justify-content: space-between;
}

.hero-subtitle{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 5px;
    color: #122438;
}

.line{
    display: inline-block;
    background: #000;
    min-width: 100px;
    height: 1px;
    margin-bottom: 3px;
    margin-left: 17px;
}

.hero-title{
    min-width: 384px;
    text-align: left !important;
}

.main-title{
    /* min-width: 384px; */
    /* height: 127px; */
    /* margin-top: 17px; */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 0.035em;

    color: #000000;
}

.show-more-button{
    max-width: 220px;
    height: 60px;
    background-color: #4670DE;
    border-radius: 15px;
    margin-top: 38px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
    transition-property: border color background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.show-more-button:hover{
    cursor: pointer;
    border: #4670DE 1px solid;
    color: #4670DE !important;
    background-color: #fff;
}

.show-more-button a{
    display: block;;
}

.show-more-button:hover a{
    color: #4670DE !important;
}

.animation-div{
    margin-top: 118px;
    margin-left: 111px;
}


/* ---------------------------------- */
/* About Section */
.about-title{
    text-align: center;
    margin-top: 109px;
}

.about-section{
    scroll-behavior: smooth;

}

.about-section-content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.about-section-highlights-div{
    margin-right: 62px;
}

.about-description{
    min-width: 493px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #555555;
}

.first-description{
    margin-bottom: 13px;
}

.community-subtitle{
    margin-top: 20px;
    margin-bottom: 22px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.035em;

    color: #000000;
}

.community-list{
    padding-left: 30px;
}

.community-list-item{
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;   
}

.community-list-item:not(:last-child){
    margin-bottom: 13px;
}

.about-section-community-we{
    display: inline;
    color: #4670DE;
}


/* ---------------------------------- */
/* Team Section */

.team-section{
    margin-top: 50px;
    margin-bottom: 101px;
}

.team-title-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team-subtitle{
    max-width: 181px;
    margin-right: 40px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.035em;
    color: #777777;
}

.team-title{
    text-align: center;
    margin-left: 40px;
    margin-right: 33px;
}

.weird-circles{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border-color: transparent;
}

.margin-circle{
    margin-right: 10px; 
}

.team-list{
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -50px;
    margin-top: 50px;
}

.team-list-item:not(:nth-child(3n)){
    margin-right: 70px;
}

.team-list-item-avatar-mobile{
    /* min-width: 300px;
    min-height: 300px; */
    border: 5px solid #4670DE;;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-list-mobile{
    display: none;
    
}

.team-list-item-name-mobile{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.035em;

    color: #000000;
}

.team-list-item-field-mobile{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #999999;
}

.mobile-team-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    margin-bottom: 40px;
}

.team-list-item{
    max-width: 320px;
    margin-bottom: 40px;
    transition: transform ease-out ;
}


.team-list-item-quote{
    margin-top: -20px;
    max-width: 300px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Roboto-Italic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #404040;
}

.trainer-avatar{
    position: relative;
    padding: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.trainer-avatar:hover{
    cursor: default;
}

.trainer-avatar-content{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(70, 112, 222, 0.75);
;
    border-radius: 50%;
    width: 100%;
    height: 90%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}

.trainer-avatar-content:hover{
    opacity: 1;
    cursor: default;
    border-color:rgba(70, 112, 222, 0.85);

}

.trainer-avatar-text{
    max-width: 319px;
    height: 0;
    text-align: center;;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
    /* color: #4670DE; */
}

.trainer-avatar-content:hover .trainer-avatar-text{
    opacity: 1;
    transform: translateY(130px);
    -webkit-transform: translateY(130px);
    
}



.team-list-item-avatar{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 35px;
    border-radius: 50%;
    border: 5px solid #4670DE;
    background-color: #F4F4F4;
}

.team-list-item-name{   
    margin-bottom: 5px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #fff;
}

.team-list-item-field{
    font-family: 'Graphik-Regular';
    font-style: normal;
    /* font-weight: 800; */
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    opacity: 0.8;
    letter-spacing: 0.02em;

    color: #fff;
}

.main-title{
    text-align: center;
}


/* Services Section */
.services-section{
    margin-top: 130px;
}

.services-title{
    margin: 0;
    padding: 0;
}

.services-section-subtitle-text{
    margin-left: 17px;
    margin-right: 17px;
    height: 25px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.035em;

    color: #777777;
}

.services-section-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.services-list{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    overflow-x:visible;
}

.services-list-item{
    position: relative;
    min-width: 100%;
    /* overflow-x: hidden; */
    /* margin-bottom: 30px; */
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 30px; */
    overflow: hidden;
    background-color: transparent;
}

.services-list-heading{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.035em;
    margin: 0;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.services-explore-button{
    padding: 12px 39px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    color: #FFFFFF;
    background-attachment: fixed;
    transition-property: background-color, color, border-color;
    transition-duration: .5s;
    transition-timing-function: ease;
    z-index: 10;
    /* transform: scale(1); */
}

.services-explore-button:hover{
    cursor: pointer !important;
    background-color: #fff;
    color: #777777;
    border-color: #777777;
    
}

.accordion__content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1s ease;
}

.accordion-content-text{
    /* min-height: 280px; */
    max-width: 800px;
    font-family: 'Roboto';
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    text-align: center;;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.035em;
    color: #122438;
}



.services-list-item--active{
    transition-property: transform, border-radius;
    /* background-attachment: fixed; */
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: scale(80%);
    border-radius: 20%;
}

.services-list-item--closed{
    /* position: relative; */
    transition-property: transform, border-radius;
    transition-duration: 1s;
    transition-timing-function: ease;
    
    border-radius: 0;
    -webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed !important;
/* position: static !important; */
/* z-index: -1 !important; */

width: 100%;
    overflow-x: hidden;
    /* margin-bottom: 30px; */
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 30px; */
    overflow: hidden;
    background-color: transparent;
}

.services-list-item--closed .Arduino{
    background-image: url("../static/textures/Arduino-bg.png") !important;
    min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed !important;
background-position: center top;
background-size: cover !important; 
/* z-index: ; */
}

.accordion__button--active{
    background-color: #fff;
    color: #777777;
    border-color: #777777;
}

.img-roll{
    /* max-width: 1000px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.img-roll-img{
    max-width: 300px;
    min-height: 200px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.img-roll-img:not(:last-child){
    margin-right: 70px;
}

.projects{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 66px;
    letter-spacing: 0.035em;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}

.VR{
    background-image: url("../static/textures/Vr-bg.png");
    min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed !important;
background-position: center bottom;
background-size: cover !important; 


}

.Arduino{
    background-image: url("../static/textures/Arduino-bg.png") !important;
    min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed !important;
background-position: center top;
background-size: cover !important; 
}

.Chatbot{
    background-image: url("../static/textures/chatbot-bg.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover; 
}

.DataScience{
    background-image: url("../static/textures/Datascience-bg.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;    
    background-blend-mode: darken;
    background-color: rgba(85, 85, 85, 0.3);
}

.MobileDev{
    background-image: url("../static/textures/Mobile-bg.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;    
    background-blend-mode: darken;
    background-color: rgba(85, 85, 85, 0.3);
}

.divider
{
	position: relative;
	margin-top: 100px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #77777777, transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid #77777777;
	border-right: 1px solid #77777777;
}


/* Past Events */
.past-events-title{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.05em;
    z-index: 3;
    color: #214670 ;
}

#myHeader{
    z-index: 3;
}

.past-events-section{
    margin-top: 100px;
}

:root {
    --white: #fff;
    --light-blue: lightblue;
    --color-blue: #4670DE;
    --color-dark-grey: #222831;
}

.timeline-section {
    width: 100%;
    overflow: hidden;  /* creates block formatting context */
}

.timeline-section ul {
    /* background: var(--light-blue); */
    padding: 5rem 0; /* padding top and bottom 5rem */
}

.timeline-item{
    margin: 0;
}

/*styling the liSt*/
.timeline-section ul li {
    list-style: none;
    position: relative;
    width: 5px; /* set width to 5px then set background to lightblue for that width */
    margin: 0 auto; /* center text */
    
    padding-top: 3rem; /* separate each list with a padding-top of 5rem = 5 x 10px= 50px */
    background: var(--color-blue);
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.035em;

    color: #333333;
}

/*use pseudo elements to style*/
/*This section will help us make the node-like structure - The circle*/
.timeline-section ul li::after {
    content: "";/* The content attribute is required for pseudo-elements to render */
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: inherit; /* inherits this property from its parent element */
}


/* Content box */
.timeline-section ul li div {
    width: 430px;
    min-height: 80px;
    font-size: 1.2rem;
    position: relative;
    bottom: 0;
    padding: 0.7rem;
    /*glassmorphism effect*/
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.2);
}

/* Triangle */
.timeline-section ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

/*This is to select the divs at odd position so we can separate the divs to the right part*/
.timeline-section ul li:nth-child(odd) div {
    left: 45px;  /* this style pushes the divs at odd number position to the right */
}
  
/*this showcases the triangle*/
.timeline-section ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--light-blue) transparent transparent;
}
 
/*This is to select the divs at even number position so we can separate the divs to the left part*/
.timeline-section ul li:nth-child(even) div {
    left: -495px;
}

.img-hackathon{
    display: block;
    max-width: 70%;
    max-height: 150px;
    border-radius: 30px;
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    transform: rotate(6deg);
}
/* .hackathon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
} */
/*this showcases the triangle*/
.timeline-section ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--light-blue); 
}

/*style the time tag*/
time {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 8px;
    /* margin-top: 10px; */
}

.timeline-section ul li::after {
    transition: all 0.5s ease-in-out;
}  

 
/*this changes the node content..giving it a background of white and making the border thicker*/
.timeline-section ul li.slide-in::after {
    background: var(--white);
    border: 3px solid var(--light-blue);
}

.timeline-section ul li div p{
    text-align: center;
}

/* Hide event card initially */
.timeline-section ul li div {
    max-height: 220px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
  
.timeline-section ul li:nth-child(odd) div {
    transform: translateX(20rem);
}

.timeline-section ul li:nth-child(even) div {
    transform: translateX(-20rem);
}

/* display the event card */
.timeline-section ul li.slide-in div {
    transform: none;
    visibility: visible;
    opacity: 1;
}




/* footer */
.footer{
    background-color: #122438;
    min-height: 322px;
}

.footer-lists-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}


.footer-list{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    list-style: none;
    margin-top: 50px;
}

.footer-list li{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;

    color: #E9E9E9;
}

.footer-list-header{
    margin-bottom: 22px;
    cursor: default !important;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-list-heading{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

.contacts-list-item:not(:last-child){
    margin-bottom: 20px;
}

.course-list-item:not(:last-child){
    margin-bottom: 15px;
}

.events-list-item:not(:last-child){
    margin-bottom: 15px;
}

.footer-list:not(:last-child){
    margin-right: 100px;
}

.copyright{
    max-width: 288px;
    margin-top: 35px;
    margin-bottom: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.035em;

    color: rgba(233, 233, 233, 0.86);
}

.footer-list li:hover{
    cursor:pointer;
    
}

/* Tablet Width */
@media screen and (max-width: 1200px) {
    .timeline-section ul li div {
      width: 400px;
   }

.timeline-section ul li:nth-child(even) div {
      left: -470px;
    }
}

@media screen and (max-width: 1080px){
    .hero-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;;
    }
    .container{
        max-width: 800px;
    }
    .animation-div{
        margin: 0;
        margin-top: 60px;
    }
    .about-section-content{
        flex-direction: column;
        align-items: center;
    }
    .about-section-highlights-div{
        margin: 0;
        margin-bottom: 53px;
    }
    .about-title{
        margin-top: 48px;
    }
    .about-section-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero-title{
        max-width: 100%;
    }
    .hero-subtitle{
        max-width: 100%;
    }
    .team-list{
        min-width: 700px;
        margin-left: auto;
        /* margin-right: auto; */
        justify-content: center;
        align-items: center;
    }
    .team-list-item:not(:nth-child(2n)){
        margin-right: 70px;
    }
    .team-list-item:nth-child(2n){
        margin-right: 0;
    }
    .img-roll{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-roll-img{
        min-width: 400px;
    }
    .accordion__content{
        /* max-height: 1300px !important; */
    }
    .team-list{
        display: none;
    }
    .team-list-mobile{
        display: block;
    }
    .team-list-item-avatar-mobile{
        min-width: 300px;
    }
}

/* Mobile width */
@media screen and (max-width: 950px) {
    .timeline-section ul li {
      margin-left: 2rem;
    }
  
    .timeline-section ul li div {
      width: calc(100vw - 110px);
    }
  
    .timeline-section ul li:nth-child(even) div {
      left: 45px;
    }
  
    .timeline-section ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--light-blue) transparent transparent;
    }
    
}

@media screen and (max-width: 800px) {
    .team-list-item{
        margin-right: 0px !important;
    }
    .team-list{
        min-width: 300px;
    }
    .team-list-item:nth-child(3n){
        display: none;
    }
}

@media screen and (max-width: 560px){
    .burger-button{
        display: block;
    }
    .webgl{
        max-width: 300px;
        max-height: 300px;
        margin:0;
    }
    .information-div{
        padding: 0;
    }
    .navbar{
        display: none;
    }
    .video-button{
        display: none;
    }
    .show-more-button{
        margin: 0;
    }
    .team-list-item-avatar-mobile{
        min-width: 0;
    }
    .team-subtitle{
        font-weight: 700;
        font-size: 19px;
        line-height: 25px;
        letter-spacing: 0.035em;

        color: #777777;
    }
    .about-description{
        min-width: 360px;
    }
    .about-section-highlights-div{
        max-width: 300px;
    }
    .highlights-photo{
        max-width: 300px;
    }
    .footer-lists-wrapper{
        flex-direction: column ;
    }
}